.titulo-personalizado {
    font-family: 'TuFuente', segoeui; /* Reemplaza 'TuFuente' con el nombre de tu fuente */
  }

  ion-content {
    --background: transparent;
    --background: url('../../assets/imagen/fondo7.jpg') no-repeat center center/cover;
  }      